<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huzhe.service.one.mapper.StudentMapper">
  <select id="getById" parameterType="long" resultType="com.huzhe.model.Student">
    SELECT * from tbl_student where id = #{id};
  </select>

  <insert id="addStudent" parameterType="com.huzhe.model.Student" useGeneratedKeys="true" keyProperty="id">
    insert into tbl_student(
    <if test="name != null">
      name,
    </if>
    age
    )VALUES (
    <if test="name != null">
      #{name},
    </if>
    #{age}
    )
  </insert>

  <update id="updateStudent" parameterType="com.huzhe.model.Student">
    update tbl_student set name = #{name},age = #{age} where id = #{id}
  </update>

  <select id="getStudents" parameterType="map" resultType="com.huzhe.model.Student">
    select * from tbl_student
    where 1 = 1
  </select>

</mapper>
